Repository catenaclearing/catena-actions: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, yamllint

black:
  name: Run Black
  entry: poetry run black
  language: system
  stages:
  - commit

ruff:
  name: Run Ruff
  entry: poetry run ruff check --fix
  language: system
  stages:
  - commit

yamllint:
  name: Run Yamllint
  entry: poetry run yamllint
  language: system
  stages:
  - commit

feat: add deploy actions
  .github/CODEOWNERS
  .github/workflows/deploy-cdk-static-site.yaml
  .github/workflows/deploy-cdk.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  actions/release/README.md
  app.py
  composite/build-node/README.md
  composite/build-node/action.yaml
  composite/deploy-cdk-static-site/README.md
  composite/deploy-cdk-static-site/action.yaml
  composite/deploy-cdk/README.md
  composite/deploy-cdk/action.yaml
  composite/open-pull-request/README.md
  composite/release-protected-branch/README.md
  composite/release-protected-branch/action.yaml
  composite/setup-node/README.md
  composite/setup-python/README.md
  poetry.lock
  pyproject.toml
Due: black, ruff, yamllint

fix: tag prefix
  actions/release/entrypoint.sh
Due: none

bump: version 0.1.0 → 0.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

bump: version 0.2.0 → 0.2.1
  CHANGELOG.md
  pyproject.toml
Due: none

bump: version 0.2.1 → 0.2.2
  CHANGELOG.md
  pyproject.toml
Due: none

fix: tag prefix issue
  CHANGELOG.md
  actions/release/entrypoint.sh
  pyproject.toml
Due: none

fix: deploy action
  cdk.context.json
  cdk.json
  composite/release-protected-branch/action.yaml
Due: yamllint

fix: deploy action
  .github/workflows/deploy-cdk-static-site.yaml
  .github/workflows/deploy-cdk.yaml
  app.py
Due: black, ruff, yamllint

fix: deploy action
  .github/workflows/status-checks.yaml
  composite/build-node/action.yaml
  composite/deploy-cdk-static-site/action.yaml
  composite/deploy-cdk/action.yaml
  composite/setup-node/action.yaml
  composite/setup-python/action.yaml
Due: yamllint

feat: add sonar
  .github/workflows/status-checks.yaml
  pyproject.toml
  sonar-project.properties
Due: yamllint

fix: sonarqube issues
  actions/release/Dockerfile
Due: none

fix: python version
  actions/release/Dockerfile
Due: none

fix: python version
  .github/workflows/status-checks.yaml
Due: yamllint

bump: version 0.2.1 → 0.3.0
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

docs: improve readme
  README.md
  composite/open-pull-request/README.md
Due: none

fix: get template path from context
  composite/open-pull-request/action.yaml
Due: yamllint

bump: version 0.3.0 → 0.3.1
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

feat: add test,lint and checkov actions
  .checkov
  .checkov.baseline
  .github/workflows/status-checks.yaml
  .pre-commit-config.yaml
  Makefile
  composite/checkov/README.md
  composite/checkov/action.yaml
  composite/lint-python/README.md
  composite/lint-python/action.yaml
  composite/test-python/README.md
  composite/test-python/action.yaml
  poetry.lock
  pyproject.toml
  tests/test_dummy.py
Due: black, ruff, yamllint

bump: version 0.3.1 → 0.4.0
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

fix: add dummy function to generate code coverage
  dummy.py
  tests/test_dummy.py
Due: black, ruff

bump: version 0.4.0 → 0.4.1
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

fix: require token when creating PR
  .github/workflows/pull-request.yaml
  composite/open-pull-request/README.md
  composite/open-pull-request/action.yaml
Due: yamllint

bump: version 0.4.1 → 0.4.2
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

fix: remove quality gate from tests
  .github/workflows/status-checks.yaml
  composite/test-python/action.yaml
Due: yamllint

bump: version 0.4.2 → 0.4.3
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

fix: re-enable-quality gate
  composite/test-python/action.yaml
Due: yamllint

bump: version 0.4.3 → 0.4.4
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

fix: disable quality gate
  composite/test-python/action.yaml
  sonar-project.properties
Due: yamllint

bump: version 0.4.4 → 0.4.5
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

fix: install all extras
  composite/setup-python/action.yaml
Due: yamllint

bump: version 0.4.5 → 0.4.6
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

fix: set default python version to 3.12
  composite/setup-python/action.yaml
Due: yamllint

bump: version 0.4.6 → 0.4.7
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

fix: allow tests and setup to run in subdirectories
  composite/setup-python/action.yaml
  composite/test-python/action.yaml
Due: yamllint

bump: version 0.4.7 → 0.4.8
  CHANGELOG.md
  pyproject.toml
  sonar-project.properties
Due: none

feat: enable deploying from subdirectories
  composite/deploy-cdk/action.yaml
Due: yamllint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
