Repository catenaclearing/catena-actions: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-toml
      - id: end-of-file-fixer
        exclude: '.*\.(ambr)$'
      - id: trailing-whitespace
        exclude: '.*\.(ambr)$'
      - id: check-yaml
      - id: check-json
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        language: docker_image
        types: ["dockerfile"]
        entry: ghcr.io/hadolint/hadolint hadolint

  - repo: local
    hooks:
      - id: cdk-synth
        name: Run CDK Synth
        entry: poetry run cdk synth
        pass_filenames: false
        language: system
        stages: [push]

      - id: black
        name: Run Black
        entry: poetry run black
        language: system
        types: [file, python]
        stages: [commit]

      - id: ruff
        name: Run Ruff
        entry: poetry run ruff check --fix
        language: system
        types: [file, python]
        stages: [commit]

      - id: yamllint
        name: Run Yamllint
        entry: poetry run yamllint
        language: system
        types: [file, yaml]
        stages: [commit]

      - id: commit-message
        name: Check commit message
        entry: poetry run cz check --commit-msg-file
        language: system
        stages: [commit-msg]

feat(PLAT-131): upgrade node to 24
  composite/deploy-cdk/action.yaml
  composite/setup-node/action.yaml
Due: yamllint

bump: version 0.12.2 → 0.13.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat(plat-186): add Semgrep SAST
  .github/workflows/sast-scheduled.yaml
  .github/workflows/status-checks.yaml
  .pre-commit-config.yaml
  Makefile
  actions/mintlify-changelog/Dockerfile
  actions/mintlify-update/Dockerfile
  actions/release/Dockerfile
  composite/checkov/action.yaml
  composite/deploy-cdk-static-site/action.yaml
  composite/deploy-cdk/action.yaml
  composite/open-pull-request/action.yaml
  composite/sast-semgrep/action.yaml
  composite/setup-node/action.yaml
  composite/setup-python/action.yaml
  composite/test-python/action.yaml
Due: yamllint

bump: version 0.13.0 → 0.14.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: guard deploy-cdk against foreign stack-name collisions [PLAT-247]
  composite/deploy-cdk/action.yaml
Due: yamllint

style: wrap long guard error message to satisfy yamllint (135 col) [PLAT-247]
  composite/deploy-cdk/action.yaml
Due: yamllint

fix: compare stack ownership like-for-like on cost:repo, not repo name [PLAT-247]
  composite/deploy-cdk/action.yaml
Due: yamllint

fix(plat-256): bump actions/checkout to v7
  .github/workflows/status-checks.yaml
Due: yamllint

fix(plat-256): bump actions/checkout to v7
  .github/workflows/sast-scheduled.yaml
Due: yamllint

fix(plat-256): bump actions/checkout to v7
  composite/open-pull-request/action.yaml
Due: yamllint

fix(plat-256): bump actions/checkout to v7
  composite/release-protected-branch/action.yaml
Due: yamllint

bump: version 0.14.0 → 0.14.1
  CHANGELOG.md
  pyproject.toml
Due: none

fix(sast-semgrep): bump actions/upload-artifact v4 -> v6
  composite/sast-semgrep/action.yaml
Due: yamllint

bump: version 0.14.1 → 0.14.2
  CHANGELOG.md
  pyproject.toml
Due: none

fix: free up disk space between deploys
  composite/deploy-cdk/README.md
  composite/deploy-cdk/action.yaml
Due: yamllint

feat: track stack ownership via catena:managed-by tag to block cross-service overwrites [PLAT-247]
  composite/deploy-cdk/action.yaml
Due: yamllint

fix: pin hadolint image and silence DL3064 false positive on release Dockerfile [PLAT-247]
  .pre-commit-config.yaml
  actions/release/Dockerfile
Due: yamllint

bump: version 0.14.2 → 0.14.3
  CHANGELOG.md
  pyproject.toml
Due: none

fix: fail closed on describe-stacks errors, drop jq dependency [PLAT-247]
  composite/deploy-cdk/action.yaml
Due: yamllint

bump: version 0.14.3 → 0.15.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: replace unmaintained branch-protection-bot with gh api calls
  composite/release-protected-branch/action.yaml
  composite/release-protected-branch/toggle-enforce-admins.sh
Due: yamllint

fix: fail fast when branch protection cannot be read
  composite/release-protected-branch/toggle-enforce-admins.sh
Due: none

refactor: name the no-HTTP-response case explicitly
  composite/release-protected-branch/toggle-enforce-admins.sh
Due: none

fix: skip the toggle when already in the target state
  composite/release-protected-branch/toggle-enforce-admins.sh
Due: none

bump: version 0.15.0 → 0.15.1
  CHANGELOG.md
  pyproject.toml
Due: none

fix: refuse to generate a changelog from a diff that is not a change
  .gitignore
  actions/mintlify-changelog/README.md
  actions/mintlify-changelog/action.yaml
  actions/mintlify-changelog/changelog-instructions.md
  actions/mintlify-changelog/entrypoint.sh
Due: yamllint

fix: validate max_new_endpoints and quote the new spec on rejection
  actions/mintlify-changelog/entrypoint.sh
Due: none

docs: say why the arithmetic comparison is silent, not just that it is
  actions/mintlify-changelog/entrypoint.sh
Due: none

fix: keep the quoted spec body to one line
  actions/mintlify-changelog/entrypoint.sh
Due: none

docs: note that tr expands the escapes, not the shell
  actions/mintlify-changelog/entrypoint.sh
Due: none

fix: prefix the quoted body so it cannot start with a runner command
  actions/mintlify-changelog/changelog-instructions.md
  actions/mintlify-changelog/entrypoint.sh
Due: none

fix: count the request body without the here-string's added newline
  actions/mintlify-changelog/entrypoint.sh
Due: none

bump: version 0.15.1 → 0.15.2
  CHANGELOG.md
  pyproject.toml
Due: none

fix: bump oasdiff so OpenAPI 3.1 numeric exclusiveMinimum parses
  actions/mintlify-changelog/Dockerfile
Due: none

feat(PLAT-477): add dev-lock action for the shared dev environment
  actions/dev-lock/Dockerfile
  actions/dev-lock/README.md
  actions/dev-lock/action.yaml
  actions/dev-lock/entrypoint.sh
  actions/dev-lock/post.sh
  actions/dev-lock/src/dev_lock/__init__.py
  actions/dev-lock/src/dev_lock/__main__.py
  actions/dev-lock/src/dev_lock/config.py
  actions/dev-lock/src/dev_lock/github.py
  actions/dev-lock/src/dev_lock/policy.py
  actions/dev-lock/src/dev_lock/runner.py
  actions/dev-lock/src/dev_lock/store.py
  actions/dev-lock/tests/conftest.py
  actions/dev-lock/tests/dev_lock_support.py
  actions/dev-lock/tests/test_acquire.py
  actions/dev-lock/tests/test_concurrency.py
  actions/dev-lock/tests/test_config.py
  actions/dev-lock/tests/test_fail_open.py
  actions/dev-lock/tests/test_github.py
  actions/dev-lock/tests/test_main.py
  actions/dev-lock/tests/test_policy.py
  actions/dev-lock/tests/test_races.py
  actions/dev-lock/tests/test_release.py
  poetry.lock
  pyproject.toml
Due: black, ruff, yamllint

feat(PLAT-478): take the dev lock in deploy-cdk, gated to in-scope repos
  actions/dev-lock/README.md
  actions/dev-lock/action.yaml
  actions/dev-lock/src/dev_lock/runner.py
  actions/dev-lock/tests/test_acquire.py
  actions/dev-lock/tests/test_fail_open.py
  composite/deploy-cdk/action.yaml
  composite/deploy-cdk/dev-lock-gate.sh
  tests/test_deploy_cdk_dev_lock.py
Due: black, ruff, yamllint

fix(PLAT-477): start on a GitHub runner, and compare expiry in whole seconds
  actions/dev-lock/Dockerfile
  actions/dev-lock/README.md
  actions/dev-lock/src/dev_lock/runner.py
  actions/dev-lock/src/dev_lock/store.py
  actions/dev-lock/tests/test_acquire.py
  actions/dev-lock/tests/test_config.py
  actions/dev-lock/tests/test_fail_open.py
  actions/dev-lock/tests/test_image.py
  actions/dev-lock/tests/test_main.py
  actions/dev-lock/tests/test_races.py
  actions/dev-lock/tests/test_store.py
Due: black, ruff

docs(PLAT-478): document the merge order and a canary checklist for dev-lock
  actions/dev-lock/README.md
Due: none

fix(PLAT-478): make the gate say why, fix stale comments, document the canary and merge order
  actions/dev-lock/README.md
  composite/deploy-cdk/action.yaml
  composite/deploy-cdk/dev-lock-gate.sh
  tests/test_deploy_cdk_dev_lock.py
Due: black, ruff, yamllint
